
/* Aplicar variables a elementos */
h1 {
  color: var(--texto-principal);
  font-family: var(--fuente-oficial);
}

body {
  background-color: var(--fondo-body);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contenedor {
  background-color: var(--fondo-contenedor);
  padding: 1rem;
  margin: 1rem;
  width: 50dvw;
  height: auto;
  font-family: var(--fuente-etiquetas);
  text-align: left;
  outline: 2px solid var(--borde-contenedor);
  box-shadow: 1px 1px 7px rgba(46, 46, 46, 0.5);
  border-radius: 10px;
}

.form-select {
  background: var(--fondo-alternativo);
  border: none;
}

.content {
  position: relative;
  background-color: var(--fondo-content);
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 15px;
}

select {
  height: auto;
  width: auto;
  font-family: var(--fuente-etiquetas);
  font-size: 1rem;
  padding: 0.3rem;
  border-radius: 15px;
}

label {
  color: var(--texto-secundario);
}

@media (width < 830px) {
  .contenedor {
    width: 20rem;
  }
}

/* Nota: Para aplicar a otras páginas, asegúrate de que usen estas variables en sus CSS (e.g., en reglas.css, cambia rgb(220, 255, 244) por var(--fondo-reglas)). */
