:root {
  --color-menu: #821414;
  --fondo-menu: #e9bebe;
}
.btn-menu {
  background-color: var(--fondo-menu);
  color: var(--color-menu);
  font-weight: bold;
  border: 1px solid black;
}
.btn-menu:hover {
  background-color: var(--color-menu);
  color: var(--fondo-menu);
}
#fondo {
  position: fixed; /* Asegura que cubra toda la pantalla */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url("../images/dino_fondo_index.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  filter: blur(5px);
  z-index: 0; /* Detrás del contenido */
}



@media (width < 655px) {
  #fondo {
    background-image: url("../images/dion_fondo_celular.avif");
  }
}
@media (width > 930px) {
  #fondo {
    background-image: url("../images/dino_fondo_grande.jpeg");
  }
}

body > .container {
  position: relative;
  z-index: 1; /* Encima del fondo */
}
