:root {
  /* Variables */
  --verde-principal: #68815f88;
}
.contenedor_aside {
  background-color: rgba(240, 248, 255, 0.753);
}
aside {
  background-color: var(--verde-principal);
}
#lista_dinosaurios > li {
  background-color: rgba(144, 228, 0, 0.267);
}
#fondo {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url("../images/dino_imagen_fondo.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow-y: hidden;
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
}
/* html {
} */
body {
  overflow-x: hidden;
}
main {
  background-color: var(--verde-principal);
}

#alert_turno > * {
  font-size: 1.4rem;
  font-size: 1.4rem;
  font-family: "Courier New", Courier, monospace;
}
@media (width > 750px) {
  #img_tablero {
    width: 99.6vmin;
    height: 100%;
  }
}
#tablero {
  width: 932.875px;
  height: 854.875px;
  background-color: rgba(9, 95, 35, 0.541);
  padding: 4px;
  border: 1.333px solid black;
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  grid-template-rows: 1fr 1fr 1fr;
}
.recinto {
  width: 50px;
  height: 50px;
  background-color: rgba(144, 228, 0, 0.267);
  display: flex;
  justify-self: center;
  align-self: center;
}
.recintoLaterales {
  border: 1px solid black;
  border-radius: 15px;
  width: 260px;
  height: 280px;
}
.recintoCentro {
  width: calc(100% - 50px);
  height: 100%;
}
.admite6 {
  flex-direction: row;
  flex-grow: 6;
}
.objeto {
  width: 30px;
  height: 30px;
  margin: 2px;
  background-color: red;
}
