:root {
  /* Variables */
  --verde-principal: #68815f88;
}
.contenedor_aside {
  background-color: rgba(240, 248, 255, 0.753);
}
aside {
  background-color: var(--verde-principal);
}
#lista_dinosaurios > li {
  background-color: rgba(144, 228, 0, 0.267);
}
#fondo {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url("../images/dino_imagen_fondo.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow-y: hidden;
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
}
/* html {
} */
body {
  overflow-x: hidden;
}
main {
  background-color: var(--verde-principal);
}

#alert_turno > * {
  font-size: 1.4rem;
  font-size: 1.4rem;
  font-family: "Courier New", Courier, monospace;
}
@media (width > 750px) {
  #img_tablero {
    width: 99.6vmin;
    height: 100%;
  }
}
