:root {
  --fondo: rgb(220, 255, 244);
  --contraste: rgb(120, 191, 49);
  --fuente-oficial: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  --fuente-etiquetas: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  margin: 1rem;
}

h1,
h2,
h3 {
  font-family: var(--fuente-oficial);
  color: var(--contraste);
}
p {
  text-align: justify;
}
.contenedor_verde {
  border: 2px #38761d solid;
  padding: 1rem;
  background-color: #c8e7ba;
}
.contenedor_amarillo {
  border: 3px #abad0a solid;
  padding: 1rem;
  background-color: #dad60673;
}
.contenedor {
  background-color: var(--contraste);
  padding: 1rem;
  margin: 1rem;
  width: 50dvw;
  height: auto;
  outline: green solid 2px;
  font-family: var(--fuente-etiquetas);
  border-radius: 15px;
}

/* Media query que adapta el tamaño de letra a celulares */
@media (width >= 420px) {
  h1 {
    font-size: 8vmin;
  }
  h2 {
    font-size: 6vmin;
  }
  h3 {
    font-size: 4vmin;
  }
  p {
    font-size: 3vmin;
  }
}
